extends ../main.layout.pug

block variables
  - var title = 'Мои работы'
  - var current = title

block scripts
  script(src='works.bundle.js')

block hero
  include ../common/hero

block content
  section.my-works
    .triangles.triangles_left
    .triangles.triangles_right

    .container.container_my-works

      .my-works__title
        include ../common/title
        +title('мои работы', 'works.png')

      #slider-component

  section.reviews
    .reviews__bg
      +image('bg/reviews.jpg','reviews__bg-img')

    .container
      .reviews__title
        +title('что обо мне говорят','about-header.png')

      ul.reviews__list
        li.reviews__item
          .reviews__text
            p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .reviews__author
            .reviews__avatar
              .reviews__avatar-pic
                  +image('content/kovalchuk.png', 'reviews__avatar-img')
            .reviews__author-data
              .reviews__name Ковальчук Дмитрий
              .reviews__record основатель Loftschool
        li.reviews__item
          .reviews__text
            p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
          .reviews__author
            .reviews__avatar
              .reviews__avatar-pic
                  +image('content/prepod.png', 'review author', 'reviews__avatar-img')
            .reviews__author-data
              .reviews__name Сабанцев Владимир
              .reviews__record преподаватель

      .reviews__form-container
        .modal-form__wrapper
          .modal-form__bg
          form.modal-form(action="send.php" method="POST" @submit="validator")
            .modal-form__title
              .subtitle Связаться со мной
            .modal-form__container
              input(type="text" name="name" placeholder="Имя" @focus="clearBorderName").modal-form__input
              input(type="email" name="email" placeholder="Email" @focus="clearBorderEmail").modal-form__input
              textarea(name="message" placeholder="Ваше сообщение" @focus="clearBorderMessage").modal-form__input.modal-form__input_textarea
            .modal-form__buttons
              button(type="submit").modal-form__button Отправить
              button(type="reset").modal-form__button Очистить
            .modal-form__status
              .status-popup.status-popup__success
                .status-popup__message Сообщение отправлено
                .status-popup__close.button.button_green Закрыть
              .status-popup.status-popup__error
                .status-popup__message Произошла ошибка
                .status-popup__close.button.button_red Закрыть

    a(href="#").down-arrow.down-arrow_my-works
      img(src="assets/images/icons/svg/arrow_down.svg", alt='')
