extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var current = title

block scripts
  script(src='blog.bundle.js')

block hero
  section.section.hero
    .hero__bg
      +image('bg/hero.jpg','hero__bg-img')
    .hero__portfolio-bg.hero__portfolio-bg_blog
      +image('content/portfolio.png','portfolio-header-img')

    .container.hero_container
      .hero__user_block
        .user-block__position
          .user 
            .user__photo
              .user__photo-avatar
                +image('content/user.jpg', 'user__photo-img')
            include ../common/title
            +title('блог','blog_header.png','title-user_blog')
            .user__desk.user__desk_blog Статьи, которые я написала

      .hero__top-left
        include ../common/socials
        +socials('hero', socials)

    a(href="#").down-arrow.down-arrow_hero
      img(src="./assets/images/icons/svg/arrow_down.svg", alt='')

block content
  section.blog
    .triangles.triangles_left.triangles_blog
    .triangles.triangles_right.triangles_blog

    .container
      //- #blog-component
      .blog-content

        aside.aside-menu.js-aside-menu
          ul.aside-menu__list.js-menu-list
            li.aside-menu__item.js-scroll-article
              button.aside-menu__btn(type='button') Адаптивный дизайн. Почему это важно? 
            .semicircle



        .blog__articles.js-articles

          article.article.js-article
            .subtitle.article_title Адаптивный дизайн. Почему это важно?
            time.article__date 03 апреля 2019г.
              .photo-article
                +image('articles/adaptive.jpg', 'articles-img')
            .article__text
              p До недавнего времени у многих компаний было две версии сайта – основная и мобильная. Они отличались и Ip-адресом и внешним видом, а зачастую страдало содержание. Веб-мастера создавали вариант для мобильного устройства по упрощенной версии. Это не всегда оправдывало ожидания заказчика. Сегодня на помощь дизайнерам приходит АДАПТИВНАЯ ВЕРСТКА.
              p Она дает возможность сделать ваш ресурс более интеллектуально понятным для посетителей. Причем становится неважным, с какого именно гаджета заходит человек. Где бы он ни открыл страницу, он не увидит пустых пробелов слева и справа, у него не будет проблем с навигацией. 
              p Суть адаптивного дизайна заключается в переработке страниц таким образом, чтобы у пользователей на всех устройствах была единая версия без ущерба для информационного наполнения. Как только загружается страница, сайт распознает тип гаджета, размер экрана и автоматически подстраивается под все параметры.
              ul.article__ul Выделяют следующие варианты адаптивной верстки:
                li.article__li Масштабирование управляющих элементов и кнопок. Экстерьер сайта при этом не меняется;
                li.article__li Применение различных образцов макетов;
                li.article__li Перемещение кнопок управления вниз;
                li.article__li Использование «резинового» адаптивного дизайна.
              p Но можно быть уверенным в одном: пользователи на любых устройствах увидят ваш сайт в неизменном и функциональном виде.
              h3.article_subtitle Продвижение сайта с адаптивным дизайном 
              p Как сказано выше, подавляющее большинство юзеров выходят в Интернет с мобильных гаджетов. Этому способствует ритм жизни мегаполиса и повсеместное распространение сети. Кроме того, есть фактор, про который обычно забывают: люди предпочитают совершать покупки, общаться, обмениваться файлами в рабочее время с личных телефонов, а не с рабочих стационарных компьютеров. 
              p Поэтому сегодня адаптивная верстка – лучшее решение. Такие сайты занимают более высокие позиции в поисковой выдаче.
              p Этому есть объяснения:
              p Адаптивная верстка позитивно оценивается поисковыми системами. У компании Google есть официальная рекомендация использовать адаптивный дизайн. Это делает более комфортным получение информации. При запросах в первую очередь будут предлагаться адаптивные сайты.
              p Остается один ip-адрес. Если у вашего сайта две версии: основная и мобильная, то трафик посещаемости поисковики будут считать отдельно. Это, в свою очередь, снижает ценность вашего сайта, и со временем вы начнете терять свои позиции. Поможет адаптивная верстка. 
              p Вероятность «дублирования контента» сводится к минимуму. Информация вынужденно повторяется на двух версиях сайта. К сожалению, этого не избежать. Но поисковые системы устроены таким образом, что копирование одного и того же контента плохо влияет на позиции сайта в целом. Адаптивный дизайн убирает данное противоречие. 
              p Уменьшается число отказов. Всем известно, что многие мобильные версии сайтов сделаны по облегченному варианту. Это значит, что пользователь может не найти ту информацию или товар, за которым пришел. Отсутствие адаптивной версии заставляет вашего потенциального покупателя переключаться на полную (что не всегда удобно на маленьком экране) или уйти к вашим конкурентам. Оба варианта поисковиками считаются как отказ, и это не может не сказываться на рейтингах вашего основного сайта. Кроме того, напомним, что изначально не все будут устанавливать мобильную версию. 
              p Адаптивная верстка – один из самых эффективных способов сохранить своих пользователей и позиции в поисковой выдаче. Клиенты обязательно оценят корректную подачу информации и удобство. А вы сможете увидеть, как выросло количество посещений, уменьшилось число отказов. Адаптивный дизайн – грамотное вложение средств, которое обязательно окупится.
