extends ../main.layout.pug

block variables
  - var title = 'Блог'
  - var current = title

block scripts
  script(src='blog.bundle.js')

block hero
  section.section.hero
    .hero__bg
      +image('bg/hero.jpg','hero__bg-img')
    .hero__portfolio-bg.hero__portfolio-bg_blog
      +image('content/portfolio.png','portfolio-header-img')

    .container.hero_container
      .hero__user_block
        .user-block__position
          .user 
            .user__photo
              .user__photo-avatar
                +image('content/user.jpg', 'user__photo-img')
            include ../common/title
            +title('блог','blog_header.png','title-user_blog')
            .user__desk.user__desk_blog Статьи, которые я написала

      .hero__top-left
        include ../common/socials
        +socials('hero', socials)

    a(href="#").down-arrow.down-arrow_hero
      img(src="./assets/images/icons/svg/arrow_down.svg", alt='')

block content
  section.blog
    .triangles.triangles_left.triangles_blog
    .triangles.triangles_right.triangles_blog

    .container.container_blog
      #blog-component
