extends ../auth.layout.pug

block variables
  - var title = 'Portfolio'
  - var current = 'авторизация'
  -
   var authFrontNav = [
     ['Мои работы','my-works.html'],
     ['Обо мне','about.html'],
     ['Блог', 'blog.html']
   ]

block content
  section.section.auth
    include ../common/parallax
    .container

      .auth__info-block

        .info-block__back.js-visibility
          .back-form
            h3.form__title
              .subtitle авторизуйтесь
            form(action="" method="").auth-form
              .auth-form__row
                .auth-form__img
                  +icon('login', 'icon icon_login')
                input(type="text" class="auth-form__input" name="name" placeholder="Логин")
              .auth-form__row
                .auth-form__img
                  +icon('password', 'icon icon_password')
                input(type="password" class="auth-form__input" name="pass" placeholder="Пароль")
              .auth-form__row.auth-form__checkbox
                input(type="checkbox" class="input__checkbox" id="human" name="human" value="я человек")
                label(for="human" class="checkbox__label") Я человек
              span.radio-text Вы точно не робот?
              .auth-form__row.auth-form__radio
                .radio-block
                  input(type="radio" class="input__radio" name="answer" value="да" id="input_yes")
                  label(for="input_yes" class="radio__label") Да
                .radio-block
                  input(type="radio" class="input__radio" name="answer" value="Не уверен" id="input_no")
                  label(for="input_no" class="radio__label") Не уверен
            .back__button
              button.button.button_green.button_form На главную
              button.button.button_green.button_form Войти
        .info-block__front
          .front__top
            include ../common/user
            +user('auth')
          .front__midle
            include ../common/socials
            +socials('auth', socials)
          .front__bottom
            include ../common/nav
            +nav('auth-nav', authFrontNav)
            
      .auth__button
        button.button.button__auth Авторизоваться

      .auth__copyright
        .copyright.copyright_auth &copy; Наталья Лысак
        .copyright.copyright_auth | создано с любовью в LoftSchool | 2018



