extends ../auth.layout.pug

block variables
  - var title = 'Portfolio'
  - var current = 'авторизация'
  -
   var authFrontNav = [
     ['Мои работы','my-works.html'],
     ['Обо мне','about.html'],
     ['Блог', 'blog.html']
   ]

block content
  section.section.auth
    include ../common/parallax
    .container

      .auth__info-block

        .spinner

          .side.back
            form.contact-form(action="php/callback.php" method="POST")

              //- Hidden Required Fields
              input(type="hidden" name="project_name" value="Сайт Портфолио")
              input(type="hidden" name="admin_email" value="linata81@gmail.com")
              input(type="hidden" name="email_from" value="info@portfolio.ru")
              input(type="hidden" name="form_subject" value="Обратный звонок с сайта")
              //- END Hidden Required Fields

              .contact-form__title
                h2.subtitle.contact-form_subtitle заполните заявку
                .title_text и я свяжусь с Вами

              .contact-form__row
                .contact-form__img
                  +icon('login', 'icon icon_login')
                input(type="text" class="contact-form__input" name="Имя" placeholder="Имя" required)
              .contact-form__row
                .contact-form__img
                  +icon('phone', 'icon icon_phone')
                input(type="phone" class="contact-form__input" name="Телефон" placeholder="Номер телефона" required)
              .contact-form__button
                button(type="button").button.button_green.button_form На главную
                button(type="submit").button.button_green.button_form Отправить


          .side.front
            .front__top
              include ../common/user
              +user('auth')
            .front__midle
              include ../common/socials
              +socials('auth', socials)
            .front__bottom
              include ../common/nav
              +nav('auth-nav', authFrontNav)
            
      .auth__button
        button.button.button__auth(type="button") Перезвоните мне

      .auth__copyright
        .copyright.copyright_auth &copy; Наталья Лысак
        .copyright.copyright_auth | создано с любовью в LoftSchool | 2018



