section.section.hero
  .hero__bg
    +image('bg/hero.jpg','','hero__bg-img')

  .hero__portfolio-header
    +image('content/portfolio.png','hero__section-img')

  .container.hero_container

    .hero__user_block
      include ../common/user.pug
      +user('hero')

    .hero__top-left
      include ../common/socials
      +socials('hero', socials)
              

    .hero__top-right
      .hamburger-menu
        a(href="#").hamburger-menu-link
          .hamburger-menu-link__bars

    a(href="#").down-arrow.down-arrow_hero
      img(src="assets/images/icons/svg/arrow_down.svg", alt='')

