section.section.hero
  .hero__bg
    +image('bg/hero.jpg','hero__bg-img')
  .hero__portfolio-bg
    +image('content/portfolio.png','portfolio-header-img')

  .container.hero_container
    .hero__user_block
      .user-block__position
        include ../common/user.pug
        +user('hero')

    .hero__top-left
      include ../common/socials
      +socials('hero', socials)

    a(href="#").down-arrow.down-arrow_hero
      img(src="./assets/images/icons/svg/arrow_down.svg", alt='')