mixin user(mod)
  div(class="user user_" +mod)
    .user__photo
      .user__photo-avatar
        +image('content/user.jpg','user', 'user__photo-img')
    div(class="user__name user__name_" +mod) Наталья Лысак
    div(class="user__desk user__desk_" +mod) Личный сайт веб-разработчика
