include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title #{title}
    link(rel='stylesheet' href='main.min.css')


  body
    .wrapper
      .maincontent
        block hero
        block content

        include ./common/footer.pug

    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    block scripts

    .hamburger__menu
      .container.container_hamburger-menu
        
        .hamburger-menu__close
          .hamburger-menu__wrapper-pic
            .hamburger-pic.animate
        nav.hamburger-menu__nav
          ul.hamburger-nav__list
            li.hamburger-nav__item
              a.hamburger-nav__link(href="my-works.html") мои работы
            li.hamburger-nav__item
              a.hamburger-nav__link(href="blog.html") блог
            li.hamburger-nav__item
              a.hamburger-nav__link(href="about.html") обо мне
            li.hamburger-nav__item
              a.hamburger-nav__link(href="index.html") авторизация

