include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title #{title}
    link(rel='stylesheet' href='main.min.css')


  body
    .wrapper
      .maincontent
        block hero
        block content

        include ./common/footer.pug

    script(src='bootloader.bundle.js')
    script(src='vendor.bundle.js')
    block scripts
