.blog__articles {
  width: 70%;
  padding-left: 20px;
  padding-right: 100px;
  @include desktops {
    width: 68%;
  } 
  @include laptops {
    padding-right: 50px;
  } 
  @include tablets {
    width: 95%;
    padding-right: 10px;
  } 
}
.article {
  padding-top: 50px;
  padding-bottom: 65px;
  border-bottom: 5px solid rgba($text-color, 0.07);
  display: flex;
  flex-direction: column;
  &:last-child {
    border-bottom: none;
  }
  @include tablets {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include phones {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.article__date {
  padding: 6px 0 20px;
  color: $green;
  @include tablets {
    padding: 0 0 10px 0;
  }
}
.article__p {
  text-indent: 25px;
}
.photo-wrap {
  height: 250px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.articles-photo {
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease-out;
  &:hover {
    transform: scale(2.5);
    z-index: 10;
  }
}