.articles {
  padding-right: 100px;
}
.articles__item {
  padding-bottom: 50px;
  border-bottom: 5px solid rgba($text-color, 0.07);
  &:last-child {
    border-bottom: none;
  }
}
.articles__data {
  padding: 20px 0;
  color: $green;
}
.articles__text p{
  padding-bottom: 15px;
}