.aside-menu {
  width: 20%;
  padding-left: 50px;
  padding-top: 68px;
  text-align: right;
  @include desktops {
    width: 30%;
  }
  @include tablets {
    padding: 0;
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $green;
    color: #fff;
    z-index: 10;
    width: 0;
  }
}
.aside-menu__list {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
    @include tablets {
      top: 50px;
    }
}
.aside-menu__btn {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  background: transparent;
  padding: 15px 20px 15px 0;
  text-align: right;
  outline: none;
  @include tablets {
    color: rgba(#ffffff, .7);
    display: none;
  }
}
.aside-menu__btn-active {
  border-right: 3px solid $green;
  button {
    color: $green;
  }
  @include tablets {
    border: none;
    button {
      color: rgba(#ffffff, 1);
    }
  }
}
.semicircle {
  width: 20px;
  height: 40px;
  background: $green;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  position: absolute;
  top: 0;
  left: 100%;
  cursor: pointer;
  display: none;
  @include tablets {
    display: block;
  }
}
.js-aside-open {
  width: 40%;
  .aside-menu__btn {
    display: block;
  }
  @include phones {
    width: 80%;
  }
}
