.auth-nav__list {
  display: flex;
  width: 100%;
  @include tablets {
    margin-top: 4px;
  }
  @include phones {
    margin-top: 0;
  }
}
.auth-nav__item {
  width: 100%;
  border-right: 2px solid rgba(#fff, .5);
  &:last-child {
    border-right: none;
    @include phones {
      border-right: 2px solid $green;
    }
  }
}
.auth-nav__link {
  display: block;
  padding-top: 11px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background-color: $green;
  &:hover {
    background-color: $dark-green;
  }
  &:active, &:focus {
    background-color: rgba($grey,.2);
  }
}
.auth-nav__back {
  a {
    width: 190px;
    padding-top: 12px;
    padding-bottom: 12px;
    @include tablets {
      width: 173px;
    }
    @include phones {
      width: 149px;
    }
  }
}