.btn {
display: inline-block;
color: #fff;
text-decoration: none;
padding: 17px 28px;
border-radius: 3px;
font-family: "roboto-medium";
}
.btn__auth {
  border: 1px solid #fff;
  &:hover {
    background-color: #fff;
    color: $turquoise;
  }
  &:active, &:focus {
    background-color: rgba($grey,.2);
  }
}