.button {
display: block;
color: #fff;
background: transparent;
padding: 14px 0;
border-radius: 3px;
font-family: "roboto-medium";
cursor: pointer;
text-decoration: none;
&:active, &:focus {
  outline: none;
}
@include tablets {
  font-size: 16px;
}
@include phones {
  font-size: 14px;
}
}
.button_green {
  background-color: $green;
  &:hover {
    background-color: $dark-green;
    }
  &:active, &:focus {
    background-color: rgba($grey,.2);
  }
}
.button_red {
  background-color: #e34844;
}
.button__auth {
  padding: 10px 28px;
  border: 1px solid #fff;
  &:hover {
    background-color: #fff;
    color: $green;
  }
}
.button_form {
  flex: 1;
  border-radius: 0;
  border-right: 2px solid rgba(#fff, .5);
  &:last-child {
    border-right: none;
  }
}
.button__my-works {
  padding: 15px 20px 15px 50px;
  position: relative;
  &:before {
    content: "";
    width: 20px;
    height: 19px;
    background: url('/assets/images/icons/svg/link.svg') center center no-repeat;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    z-index: 20;
  }
  @include phones {
    padding: 11px 20px 11px 50px;
  }
}