.down-arrow {
  position: absolute;
  z-index: 100;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}
.down-arrow_hero {
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  @include phones {
    bottom: 15%;
  }
}


.down-arrow_my-works {
  position: absolute;
  bottom: 66px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  @include phones {
    bottom: 36px;
  }
}