.hero {
  overflow: hidden;
  height: 100vh;
  @include phones {
    background: url('./assets/images/bg/auth.jpg')center center no-repeat;
    background-size: cover;
  }
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  @include phones {
    display: none;
  }
}
.hero__bg-img {
  display: block;
  width: 120%;
  margin-left: -180px;
  @include desktops {
    width: 145%;
    margin-left: -272px;
  }
  @include laptops {
    width: 288%;
    margin-left: -977px;
  }
  @include tablets {
    width: 296%;
    margin-left: -757px;
  }
}
.hero__portfolio-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.portfolio-header-img {
  display: block;
  @include centered();
  max-width: 100%;
}
.hero_container {
  @include centered();
  z-index: 50;
}
.hero__btn{
  position: absolute;
  bottom: 240px;
  left: 50%;
  transform: translateX(-50%);
  @include phones {
    bottom: 155px;
  }
  @include minWidth {
    bottom: 97px;
  }
}
.hero__btn_mod{
  bottom: 250px;
  @include phones {
    bottom: 155px;
  }
  @include minWidth {
    bottom: 97px;
  }
}
.hero__user_block {
  @include centered();
}
.hero__top-left {
  position:absolute;
  top: 30px;
  left: 30px;
  @include phones {
    top: 20px;
    left: 2.5%;
  }
}
