.icon {
  width: 28px;
  height: 23px;
  fill: #fff;
  @include phones {
    width: 21px;
    height: 19px;
  }
}
.icon_vk {
  width: 33px;
  height: 20px;
  @include phones {
    width: 26px;
    height: 15px;
  }
}

.icon_login,.icon_password {
  fill: #c4cbcd;
}
.icon_login {
  width: 15px;
  height: 17px;
}
.icon_password {
  width: 18px;
  height: 17px;
}
.icon-contact {
  width: 24px;
  height: 24px;
  fill: $green;
}
.icon-contact{
  &-envelope {
  width: 23px;
  height: 17px;
  }
  &-phone {
  width: 21px;
  height: 19px;
  }
  &-map_marker {
  width: 19px;
  height: 24px;
  }
}
