.map {
  height:100vh;
  background: #8cabce;
  position: relative;
}

.map__data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include phones {
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0,0);
  }
}