.modal-form__wrapper {
  position: relative; 
  border-radius: 10px;
  width: 380px;
  height: 437px;
  background: rgba(#fff, .85);
  overflow: hidden;
  @include laptops {
    width: 349px;
  }
  @include tablets {
    height: 418px;
  }
  @include phones {
    width: 300px;
    height: 419px;
  }
}
.modal-form__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(20px);
  background-image: url('./assets/images/bg/reviews.jpg');
  background-size: 2000px;
  background-repeat: no-repeat;
  background-position: -697px -512px;
  @include laptops {
    top:-180px;
  }
  @include phones {
    top: -85px;
  }
}
.modal-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  width: 380px;
  height: 437px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  @include laptops {
    width: 349px;
  }
  @include tablets {
    height: 418px;
  }
  @include phones {
    width: 300px;
    height: 419px;
  }
}
.modal-form__title {
  text-align: center;
  margin-top: -13px;
  @include phones {
    margin-top: 0;
    padding-bottom: 15px;
  }
}
.modal-form__container {
  width: 340px;
  @include laptops {
    width: 310px;
  }
  @include phones {
    width: 260px;
  }
}
.modal-form__input {
  display: block;
  border-radius: 5px;
  border: 0 none;
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 20px;
  outline:none;
  &_textarea {
    height: 140px;
    resize: vertical;
  }
}
.modal-form__buttons {
  width: 100%;
  display: flex;
  align-self: flex-start;
}
.modal-form__button {
  flex: 1;
  padding: 15px;
  background: rgba(0, 191, 165, 0.85);
  color: #fff;
  transition: .3s;
  font-weight: 600;
  border-right: 2px solid #82cfc9;
  white-space: nowrap;
  outline: none;
 
  &:hover {
    background: rgba(0, 191, 165, 0.3);
  }

  &:last-child {
    border: none;
  }
}

.input_error {
  border: 2px solid #e34844;
}