.reviews {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-bottom: 150px;
  @include phones {
    padding-bottom: 100px;
  }
}
.reviews__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -2;
  min-width: 2000px;
  @include laptops {
    top:-180px;
  }
  @include phones {
    top: -85px;
  }
}
.reviews__bg-img {
  display: block;
  min-width: 100%;
}
.reviews__title {
  max-width: 400px;
  padding-top: 10px;
  padding-bottom: 70px;
  @include laptops {
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  @include phones {
    padding-top: 0;
    max-width: 68%;
    padding-bottom: 40px;
  }
}
.reviews__list {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  @include laptops {
    margin-bottom: 50px;
  }
  @include phones {
    flex-direction: column;
    padding: 0 2%;
    margin-bottom: 0;
  }
}
.reviews__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 37px;
  position: relative;
  &:before {
    content: "";
    width: 35px;
    height: 30px;
    background: url('./assets/images/icons/svg/quote-left-grey.svg') center center no-repeat;
    position: absolute;
    top: -42px;
    left: 37px;
    z-index: 20;
    @include phones {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  @include phones {
    padding: 0;
    margin-bottom: 75px;
    &:last-child {
      margin-bottom: 30px;
    }
  }
}
.reviews__author {
  display: flex;
  align-items: center;
  padding-top: 15px;
  @include phones {
    padding-top: 10px;
  }
}
.reviews__avatar {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}
.reviews__avatar-pic {
position: absolute;
top: 0;
left: 0;
}
.reviews__avatar-image {
  max-width: 100%;
}
.reviews__author-data {
  color: $green;
}
.reviews__name {
  font-family: "roboto-bold";
}
