.skills-list {
  display: flex;
  flex-direction: column;
}
.skills-list__item {
  display: flex;
  flex-wrap: wrap;
  @include tablets {
    justify-content: center;
  }
}
.skills-row {
  margin-left: -19px;
  @include desktops {
    margin-left: -17px;
  }
}
.skills-list__title {
  font-size: 28px;
  font-weight: 500;
  padding-left: 19px;
  margin-bottom: 12px;
  @include desktops {
    padding-left: 15px;
  }
  @include laptops {
    font-size: 21px;
  }
}
