.slider {
  height: 100vh;
  width: 100%;
  background: #f0efe9;
  display: flex;
  position: relative;
  @include tablets {
    height: 100%;
  }
  @include phones {
    height: 100%;
  }
  @include minWidth {
    height: 100vh;
  }
}
.slider__info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include laptops {
    position: absolute;
    bottom: 465px;
    left: 50%;
    transform: translateX(-50%);
    height: 270px;
  }
  @include tablets {
    position: absolute;
    bottom: 215px;
    left: 50%;
    transform: translateX(-50%);
    height: 270px;
  }
  @include phones {
    bottom: 93px;
    height: 220px;
    width: 100%;
  }
}
.slider__photo-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include phones {
   justify-content: flex-end;
  }

}
.slider__display {
  background: #efebe0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  @include laptops {
    height: 955px;
    align-items: flex-start;
    padding-top: 100px;
  }
  @include tablets {
    height: 803px;
    align-items: flex-start;
    padding-top: 100px;
  }
  @include phones {
    height: 476px;
    padding-top: 50px;
  }
}
.slide__big-pic {
  max-width: 100%;
}
.slider__buttons {
  display: flex;
  height: 30%;
  user-select: none;
  overflow: hidden;
  @include tablets {
    height: 215px;
  }
  @include phones {
    height: 93px;
  }
}
/* slider__info */
.slider__info-title {
  text-align: center;
  width: 263px;
  margin-bottom: 20px;
  @include tablets {
    width: 100%;
  }
  @include phones {
    width: 194px;
    margin-bottom: 5px;
  }
}
.slider__info-skills {
  width: 420px;
  padding: 15px 0;
  border-top: 1px solid rgba($green, .3);
  border-bottom: 1px solid rgba($green, .3);
  text-align: center;
  color: $green;
  text-transform: uppercase;
  margin-bottom: 40px;
  span {
    font-size: 14px;
    display: inline-block;
  }
  @include phones {
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
.slider__info-button {
  text-align: center;
}

/* slider__display */
.slider__display-img-wrap {
  max-width: 67%;
  max-height: 80%;
}
.slide__big-pic {
  display: block;
  width: 100%;
}

/* slider__button */
.slider__button {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#b6b4ae, .7);
    transition: .3s;
    z-index: 10;
  }
  &:after {
    width: 50px;
    height: 50px;
    content: "";
    background: url('/assets/images/icons/svg/arrow_down.svg')center center no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  &_next {
    &:after {
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }
  &:hover {
    &:before {
      background: rgba(#888372, .5);
    }
    &:after {
      transform: translate(-50%, -20%);
    }
  }
  &_next {
    &:hover {
      &:after {
        transform: translate(-50%, -80%) rotate(180deg);
      }
    }
  }
}
.slider__button-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slider__button-img-wrap {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider__button-pic {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 100%;
}
