.socials {
  display: flex;
  align-items: center;
}
.socials__item {
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
  @include phones {
    margin-right: 30px;
  }
}
.socials__link {
  display: block;
  height: 100%;
  opacity: .5;
  &:hover{
    opacity: 1;
  }
}
.socials__auth svg {
  fill: $green;
}

/*footer*/
.socials__footer {
  li {
    margin-right: 10px;
  }
  a {
    width: 37px;
    height: 37px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: #fff;
      svg {
        fill: $grey;
      }
    }
  }
  .icon_vk {
    width: 24px;
    height: 14px;
  }
  .icon_github {
    width: 22px;
    height: 17px;
  }
  .icon_in {
    width: 19px;
    height: 17px;
  } 
}
