.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #111111;
  opacity: 0.9;
  z-index: 100;
  display: none;
}
.status-popup {
  width: 341px;
  height: 150px;
  position: absolute;
  @include centered();
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background: #fff;
  z-index: 101;
}
.status-popup__success {
  border: 2px solid $green;
  display: none;
}
.status-popup__error {
  border: 2px solid #e34844;
  display: none;
}
.status-popup__close {
  padding: 10px 20px;
  margin-top: 15px;
}

