.status-popup {
  width: 285px;
  height: 115px;
  position: absolute;
  @include centered();
  border-radius: 2px;
  text-align: center;
  padding: 20px;
  background: #fff;
}
.status-popup__success {
  border: 1px solid $green;
  display: none;
}
.status-popup__error {
  border: 1px solid #e34844;
  display: none;
}
.status-popup__close {
  padding: 10px 20px;
  margin-top: 15px;
}
.active_status {
  display: block;
  z-index: 0;
}
