.status-popup {
  border-radius: 3px;
  text-align: center;
  padding: 20px;
  background: #fff;
}
.status-popup__close {
  padding: 10px 20px;
  margin-top: 15px;
}
.status-popup__success {
  display: none;
  border: 1px solid $green;
}
.status-popup__error {
  display: none;
  border: 1px solid #e34844;
}