.subtitle {
  font-size: 35px;
  font-family: 'bernier';
  position: relative;
  padding: 10px 0;
  text-align: center;
  line-height: 1.22;
  display: inline-block;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba($grey,.2);
    width: 22px;
    height: 5px;
  }
  &:after {
    right: -40px;
  }
  &:before {
    left: -40px;
  }

  @include laptops {
    font-size: 30px;
  }
  @include phones {
    font-size: 21px;
  }
}

.article_subtitle {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}