.title {
  color: $grey;
  font-size: 63px;
  font-family: 'bernier';
  position: relative;
  padding: 50px 42px;
  display: inline-block;
  text-align: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  line-height: 1;

  &:after, &:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba($grey,.2);
    width: 22px;
    height: 5px;
  }
  &:after {
    right: 0;
  }
  &:before {
    left:0;
  }
  @include laptops {
    padding: 30px 42px;
    font-size: 49px;
  }
  @include phones {
    font-size: 35px;
  }
}
.title-user_blog {
  padding: 50px 94px;
  color: #fff;
  margin: -50px 0 -45px;
  &:after, &:before {
    background: rgba(#fff,.2);
  }
  &:after {
    right: 50px;
  }
  &:before {
    left: 50px;
  }
}