.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include phones {
    min-width: 210px;
  }
}
.user__photo {
  width: 147px;
  height: 147px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  @include tablets {
    width: 142px;
    height: 142px;
  }
}
.user__photo-avatar {
  display: block;
  max-width: 100%;
}
.user__name {
  color: #fff;
  font-size: 35px;
  font-family: 'roboto-medium';
  @include phones {
    font-size: 21px;
  }
}
.user__desk {
  color: #fff;
  font-weight: 100;
  @include tablets {
    font-size: 16px;
  }
  @include phones {
    font-size: 14px;
  }
}

/* section auth */
.user__name_auth {
  color: $text-color;
  margin-top: -12px;
  font-size: 28px;
}
.user__desk_auth{
  color: $text-color;
}